streamlit
plotly
pandas
fpdf2
psycopg2-binary
SQLAlchemy
bcrypt
python-dotenv
pypdf
pdfplumber
python-docx
nltk
scikit-learn
sentence-transformers
Pillow
pytesseract
requests
beautifulsoup4
trafilatura
youtube-transcript-api
SpeechRecognition
gTTS
